<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb7c74">  <td>22/09/16 17:09:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo_JWTAuth.getUsersBooksDetails()[pri:0, instance:com.qa.rest.test.Demo_JWTAuth@4d465b11]">getUsersBooksDetails</td> 
  <td>main@664070838</td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/09/16 17:08:57</td>   <td>-3213</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Demo_JWTAuth.registerandgenerateToken()[pri:0, instance:com.qa.rest.test.Demo_JWTAuth@4d465b11]">&gt;&gt;registerandgenerateToken</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@664070838</td>   <td></td> </tr>
</table>
